.body {
    font-family: 'Source Sans Pro', 'Montserrat-ExtraBold', 'Arial', sans-serif;
    background: linear-gradient(114.04deg, #F7FFFE 33.96%, #FFFFFF 90.96%);
    background-color: #F7FFFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

/* * {
  outline: orangered 1px dashed;
} */
