.page {
  width: 1152px;
  position: relative;

  /* outline: orangered 1px solid; */
  z-index: 0;
}

.page::before {
  position: absolute;
  content: '';
  width: 608px;
  height: 608px;
  left: -304px;
  top: 18px;
  background-image: url(../../img/bg-img.svg);
  background-repeat: no-repeat;
  z-index: -1;
}


