.content__color_gradient_green-blue {
  background: linear-gradient(45deg, #A2FC7A 1%, #75E0E8 56%, #90C5DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0D61BC;
}

