.content__image-left {
  position: absolute;
  width: 244px;
  height: 463px;
  top: 119px;
  left: 42px;
}

.content__image-right {
  position: absolute;
  width: 517px;
  height: 503px;
  top: 142px;
  right: -60px;
}

