.content__image-left {
  position: absolute;
  width: 244px;
  height: 463px;
  top: 119px;
  left: 42px;
}

.content__image-right {
  position: absolute;
  width: 517px;
  height: 503px;
  top: 142px;
  right: -70px;
}

@media (max-width: 850px) {
  .content__image-left {
    left: 120px;
  }
}

@media (max-width: 650px) {
  .content__image-left {
    width: 200px;
    top: 10px;
    left: 175px;
  }

  .content__image-right {
    width: 400px;
    top: 55px;
    right: 15px;
  }
}

@media (max-width: 550px) {
  .content__image-left {
    top: 10px;
    left: 250px;
  }

  .content__image-right {
    top: 30px;
    right: 30px;
  }
}


@media (max-width: 350px) {
  .content__image-left {
    top: 10px;
    left: 270px;
  }

  .content__image-right {
    top: 30px;
    right: 60px;
  }
}
